<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinanx.springboot.repository.ProcModelRepository" >
  <select id="getCategories" resultType="map">
    select id "id", name "name" from bpm_category
  </select>
  
  <select id="getProcModel" resultType="ProcModel">
    select M.ID_            ID,
           M.NAME_          name,
           M.VERSION_       VERSION,
           M.DEPLOYMENT_ID_ DEPLOYMENTID
      from ACT_RE_MODEL     M,
           ACT_RE_PROCDEF   D,
           ACT_GE_BYTEARRAY B,
           BPM_PROCESS      BP,
           BPM_CONF_BASE    BC
     where M.DEPLOYMENT_ID_ = D.DEPLOYMENT_ID_
       and M.EDITOR_SOURCE_VALUE_ID_ = B.ID_
       and BC.PROCESS_DEFINITION_ID = D.ID_
       and BP.CONF_BASE_ID = BC.ID
       <if test="category != null and category != ''">
       and BP.CATEGORY_ID = #{category}
       </if>
       <if test="name != null and name != ''">
       and M.NAME_ like '%'||#{name}||'%'
       </if>
     order by M.NAME_
  </select>
  
  <select id="getProcModelById" parameterType="long" resultType="ProcModel">
    select M.ID_                 ID,
           M.NAME_               name,
           M.VERSION_            VERSION,
           M.DEPLOYMENT_ID_      DEPLOYMENTID,
           M.EDITOR_SOURCE_VALUE_ID_ SOURCEID,
           D.RESOURCE_NAME_      RESOURCENAME,
           D.DGRM_RESOURCE_NAME_ DGRMRESOURCENAME,
           B.BYTES_              BYTES
      from ACT_RE_MODEL     M,
           ACT_RE_PROCDEF   D,
           ACT_GE_BYTEARRAY B,
           BPM_PROCESS      BP,
           BPM_CONF_BASE    BC
     where M.DEPLOYMENT_ID_ = D.DEPLOYMENT_ID_
       and M.EDITOR_SOURCE_VALUE_ID_ = B.ID_
       and BC.PROCESS_DEFINITION_ID = D.ID_
       and BP.CONF_BASE_ID = BC.ID
       and M.ID_ = #{id}
  </select>
  
  <select id="getProcModelImage" resultType="Map">
    select bytes_ from ACT_GE_BYTEARRAY t where t.name_ = #{name} and t.deployment_id_ = #{deploymentId}
  </select>
  
  <update id="updateSource" parameterType="ProcModel">
    update ACT_GE_BYTEARRAY B
       set B.BYTES_ = #{bytes}
     where B.ID_ = #{sourceId}
  </update>
</mapper>
